@mixin font($font, $style, $weight, $size, $height, $spacing, $color) {
    font-family: $font;
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
    letter-spacing: $spacing;
    color: $color;
}

@mixin button($padding) {
    border-radius: 12px;
    background: $color-primary;
    padding: $padding;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease-in-out;
    @include font("Inter", normal, 600, 20px, 24px, 0, $color-white);

    &:hover {
        background: rgb(0, 53, 198);
        color: $color-white;
    }
}
